[Unit]
Description=Control-DNS Container
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/root/control-plane/dns.start.sh
ExecStop=/root/control-plane/dns.stop.sh

[Install]
WantedBy=multi-user.target
